:root {
  --bg-color: #101010;
  --section-color: #333;
  --stroke-color: #777;
  --container-width: 1200px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}


.header {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  align-items: center;
  background-color: var(--section-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  border-bottom: 2px solid var(--stroke-color)
}

main {
  margin: 4.5rem auto 0;
  width: var(--container-width);
}

.header__right {
  display: flex;
  gap: 2rem;
}

.header__link {
  font-size: 1.2rem;
}


#resume {
  display: grid;
  background-color: var(--section-color);
  grid-template-columns: repeat(2,1fr);
  height: 30rem;
  border: 2px solid var(--stroke-color);
}

#resume > * {
  grid-column: span 1;
}

.resume__left {
  padding: 2rem;
}

.resume__left > h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.resume__left > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.resume__left a {
  font-weight: bold;
}

.resume__left a:hover {
  text-decoration: underline;
}

.resume__right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-left: 2px solid var(--stroke-color)

}

.resume__img {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/logo.svg");
}



